@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-1: 180 47% 97%;
    --background-2: 180 57% 95%;
    --background-3: 180 24% 93%;
    --foreground: 180 60% 5%;
    --card: 180 47% 97%;
    --card-foreground: 180 60% 5%;
    --popover: 180 47% 97%;
    --popover-foreground: 180 60% 5%;
    --primary: 176 61% 55%;
    --primary-foreground: 180 47% 97%;
    --secondary: 337 61% 72%;
    --secondary-foreground: 180 60% 5%;
    --muted: 180 47% 97%;
    --muted-foreground: 180 60% 5%;
    --accent: 32 60% 64%;
    --accent-foreground: 180 60% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 180 47% 97%;
    --border: 180 60% 5%;
    --input: 180 60% 5%;
    --ring: 180 60% 5%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background-1: 180 47% 3%;
    --background-3: 180 23.5% 6.7%;
    --foreground: 180 60% 95%;
    --card: 180 47% 3%;
    --card-foreground: 180 60% 95%;
    --popover: 180 47% 3%;
    --popover-foreground: 180 60% 95%;
    --primary: 176 61% 45%;
    --primary-foreground: 180 47% 3%;
    --secondary: 337 61% 28%;
    --secondary-foreground: 180 60% 95%;
    --muted: 180 47% 3%;
    --muted-foreground: 180 60% 95%;
    --accent: 32 60% 36%;
    --accent-foreground: 180 60% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 180 60% 95%;
    --border: 180 60% 95%;
    --input: 180 60% 95%;
    --ring: 180 60% 95%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border bg-background-100 text-foreground;
  }

  body {
    @apply bg-background-100 text-foreground;
  }
}