@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-1: 180 47% 97%;
    --background-2: 180 57% 95%;
    --background-3: 180 24% 93%;
    --foreground: 180 60% 5%;
    --card: 180 47% 97%;
    --card-foreground: 180 60% 5%;
    --popover: 180 47% 97%;
    --popover-foreground: 180 60% 5%;
    --primary: 176 61% 55%; /* #46d2c9 */
    --primary-foreground: 180 47% 97%; 
    --secondary: 337 61% 72%; /* #e38cad */
    --secondary-foreground: 180 60% 5%;
    --muted: 180 47% 97%;
    --muted-foreground: 180 60% 5%;
    --accent: 32 60% 64%;
    --accent-foreground: 180 60% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 180 47% 97%;
    --border: 180 60% 5%;
    --input: 180 60% 5%;
    --ring: 180 60% 5%;
    --radius: 0.5rem;
    --chart-1: 176 61% 55%;
    --chart-2: 337 61% 72%;
    --chart-3: 32 60% 64%;
    --chart-4: 6 100% 36%;
    --chart-5: 315 97% 26%;
  }

  .dark {
    --background-1: 180 47% 97%;
    --background-2: 180 57% 95%;
    --background-3: 180 24% 93%;
    --foreground: 180 60% 5%;
    --card: 180 47% 97%;
    --card-foreground: 180 60% 5%;
    --popover: 180 47% 97%;
    --popover-foreground: 180 60% 5%;
    --primary: 176 61% 55%;
    --primary-foreground: 180 47% 97%;
    --secondary: 337 61% 72%;
    --secondary-foreground: 180 60% 5%;
    --muted: 180 47% 97%;
    --muted-foreground: 180 60% 5%;
    --accent: 32 60% 64%;
    --accent-foreground: 180 60% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 180 47% 97%;
    --border: 180 60% 5%;
    --input: 180 60% 5%;
    --ring: 180 60% 5%;
    --radius: 0.5rem;
    --chart-1: 176 61% 55%;
    --chart-2: 337 61% 72%;
    --chart-3: 32 60% 64%;
    --chart-4: 6 100% 36%;
    --chart-5: 315 97% 26%;
  }
}

/* @layer base {
  * {
    @apply border-border bg-background-100 text-foreground;
  }

  body {
    @apply bg-background-100 text-foreground;
  }
} */